@import './base.css';
@import "tailwindcss";

body {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
     
    
  }

  body{
    display: flex;
    justify-items: center;
    justify-content: center;
    margin-top: 8rem;
  }